<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>

              <form name="submission" onsubmit="return usersignupval()" oninput="clearform()" class="mx-1 mx-md-4"
                action="/signup" method="post">

                <p class="text-white-50 mb-5">Please enter your Details Below</p>

                <div class="form-outline form-white mb-4">
                  <input type="text" name="Username" id="Username" class="form-control form-control-lg" />
                  <label class="form-label">Username</label>
                </div>
                <p class="text-danger  text-center"></p>


                <div class="form-outline form-white mb-4" data-validate="please enter password">
                  <input type="password" name="Password" id="Password" class="form-control form-control-lg" />
                  <label class="form-label">Password</label>
                </div>
                <p class="text-danger  text-center"></p>


                <div class="form-outline form-white mb-4">
                  <input type="password" name="Confirmpassword" id="Confirmpassword"
                    class="form-control form-control-lg" />
                  <label class="form-label">Confirm Password</label>
                </div>
                <p class="text-danger  text-center"></p>


                <div class="form-outline form-white mb-4">
                  <input type="text" name="Mobilenumber" id="Mobilenumber" class="form-control form-control-lg" />
                  <label class="form-label">Mobile Number</label>
                </div>
                <p class="text-danger text-center"></p>

                <div class="form-outline form-white mb-4">
                  <input type="email" name="Email" id="Email" class="form-control form-control-lg" />
                  <label class="form-label">Email</label>
                </div>
                <p class="text-danger text-center"></p>

                {{!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> --}}

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

              </form>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/javascripts/signupvalidation.js"></script>